
  /* Example usage */
  body {
    background-color: var(#fff);
  }

  .options {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

  .scrape-button.MuiButton-root {
    margin-left: 5px;
    color:#3498db;
  }
  .scrape-button.MuiButton-root:hover{
    color:#2980b9;
    background: none;
  }


  